body {
  text-align: center;
}

.page-wrap {
  text-align: left;
  min-width: 766px;
  max-width: 1260px;
  margin: 0 auto;
}

.row .column {
  height: 300px;
}

.book .cover {
  min-width: 210px;
}

.book .cover img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 185px;
}

.book .info .name {
  min-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book .info .authors {
  min-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

